# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/mr-1-john-paul-barazon.jpg
!app/crud/uploads/mr-2-ely-john-yapan.jpg
!app/crud/uploads/mr-3-heziekia-uriel-alura.jpg
!app/crud/uploads/mr-4-francis-sanglay.jpg
!app/crud/uploads/mr-5-jethro-mesalucha.jpg
!app/crud/uploads/mr-6-francis-xavier-pantaleon.jpg
!app/crud/uploads/mr-7-kendrick-torres.jpg
!app/crud/uploads/mr-8-elyxzer-nathaniel-tapil.jpg
!app/crud/uploads/mr-9-noli-jr-alabastro.jpg
!app/crud/uploads/mr-10-kenneth-alfelor.jpg
!app/crud/uploads/mr-11-lincolne-polvorido.jpg
!app/crud/uploads/mr-12-lenard-salamanque.jpg
!app/crud/uploads/mr-13-john-carlo-espiritu.jpg
!app/crud/uploads/mr-14-shan-emmanuel-canet.jpg
!app/crud/uploads/ms-1-isabel-brizeth-libreja.jpg
!app/crud/uploads/ms-2-shilo-louise-cañada.jpg
!app/crud/uploads/ms-3-kyle-monique-serafico.jpg
!app/crud/uploads/ms-4-ira-bee-merced-ritcha.jpg
!app/crud/uploads/ms-5-monica-jed-morada.jpg
!app/crud/uploads/ms-6-zamantha-obiasca.jpg
!app/crud/uploads/ms-7-ynna-mikaela-pretoritis.jpg
!app/crud/uploads/ms-8-julianne-miles-barrientos.jpg
!app/crud/uploads/ms-9-xhanne-frances-claveria.jpg
!app/crud/uploads/ms-10-angela-ishi-ricafranca.jpg
!app/crud/uploads/ms-11-charmel-monte.jpg
!app/crud/uploads/ms-12-anna-jelena-sabinorio.jpg
!app/crud/uploads/ms-13-jillian-chloe-tabajonda.jpg
!app/crud/uploads/ms-14-jhane-elizabeth-cornelio.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
